.container {
    overflow-x: scroll;
    overflow-y: hidden;

    /* Hide scrollbar on Chrome and Safari */

    &::-webkit-scrollbar {
        width: 0;
        display: none;
    }

    /* Hide scrollbar on Firefox */
    scrollbar-width: none;

    /* Hide scrollbar on IE */
    -ms-overflow-style: none;
}
